@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: 'Darker Grotesque' !important;
}

/* ------------ Hero sekcija ------------ */

.video-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.video-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1b1b1b;
  opacity: 0.8;
}

.btn-header {
  width: 100% !important;
  font-size: 30px !important;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header h1 {
  color: #faa61a;
  font-size: 50px !important;
}

.header h1 span img {
  width: 150px;
}

@media (max-width: 900px) {
  .header h1 {
    font-size: 34px !important;
    text-align: center;
  }

  .header h1 span img {
    width: 100px;
  }

  .btn-header {
    font-size: 20px !important;
  }
}

/* ------------ Navbar ------------ */

.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
}

.nav.scrolled {
  background-color: #161616 !important;
  transition: background-color 500ms linear;
}

.nav #brand {
  float: left;
  display: block;
  margin-left: 40px;
  line-height: 80px;
}

.nav #brand a img {
  width: 80px;
  transition: all 500ms ease-out;
}

.nav #menu {
  float: left;
  right: 40px;
  position: fixed;
}

.nav #menu li {
  padding-left: 40px;
  display: inline-block;
  font-weight: lighter !important;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 80px;
  position: relative;
  transition: all 500ms ease-out;
}

.nav #menu li a {
  font-family: Poppins !important;
  color: #faa61a;
  transition: all 500ms ease-out;
}

.nav #menu li a:hover {
  text-decoration: none;
  color: #fff;
  transition: all 500ms ease-out;
}

#toggle {
  position: absolute;
  right: 40px;
  top: 20px;
  font-weight: 300;
  color: #faa61a;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  width: 30px;
  height: 30px;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 30px;
  font-weight: 300;
  color: #faa61a;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 2;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  text-transform: uppercase;
  min-height: 50px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #faa61a;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 900px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #brand {
    margin-left: 10px;
  }

  #resize ul li a {
    font-size: 15px;
    font-family: 'Poppins' !important;
    font-weight: lighter !important;
    color: #faa61a !important;
    transition: all 500ms ease-out;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 900px) {
  #resize {
    visibility: hidden !important;
  }
}

/* ------------ O Nama sekcija ------------ */

.content {
  position: absolute;
  margin-top: 100vh;
  width: 100%;
}

section {
  padding: 140px 0;
}

.section-index {
  color: #faa61a;
  font-weight: bolder;
  font-size: 20px;
  font-family: Poppins !important;
}

.section-heading {
  color: #faa61a;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  font-weight: bold;
}

.section-heading.prijava {
  font-size: 18px;
  font-weight: 400;
}

.section-subheading {
  color: grey;
  margin: 10px 0;
}

.section-subheading h1 {
  font-size: 35px;
}

.section-info h1 {
  font-size: 35px;
  color: grey;
}

.more {
  margin: 40px 0;
}

button.btn-o-nama {
  background: none;
  position: relative;
  padding: 15px 30px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  overflow: hidden;
  text-decoration: none;
  color: #faa61a;
}

.btn-o-nama a {
  text-decoration: none;
  color: #faa61a;
}

.btn-o-nama a:hover {
  text-decoration: none;
  color: #faa61a;
}

button.btn-o-nama span {
  position: absolute;
  display: block;
  background: #faa61a;
}

button.btn-o-nama span:nth-child(1) {
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  transform: translateY(0);
}

button.btn-o-nama:hover span:nth-child(1) {
  transition: 0.5s;
  transform: translateY(-100%);
}

button.btn-o-nama span:nth-child(2) {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  transform: translateX(-100%);
}

button.btn-o-nama:hover span:nth-child(2) {
  transition: 0.75s;
  transform: translateX(100%);
  transition-delay: 0.25s;
}

button.btn-o-nama span:nth-child(3) {
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  transform: translateY(-100%);
}

button.btn-o-nama:hover span:nth-child(3) {
  transition: 0.5s;
  transform: translateY(0%);
  transition-delay: 0.5s;
}

button.btn-o-nama span:nth-child(4) {
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  transform: translateY(0);
}

button.btn-o-nama:hover span:nth-child(4) {
  transition: 0.5s;
  transform: translateY(100%);
}

button.btn-o-nama span:nth-child(5) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  transform: translateX(100%);
}

button.btn-o-nama:hover span:nth-child(5) {
  transition: 0.75s;
  transform: translateX(-100%);
  transition-delay: 0.25s;
}

button.btn-o-nama span:nth-child(6) {
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  transform: translateY(100%);
}

button.btn-o-nama:hover span:nth-child(6) {
  transition: 0.5s;
  transform: translateY(0%);
  transition-delay: 0.5s;
}

@media (max-width: 900px) {
  .section-subheading h1 {
    font-size: 28px;
  }

  .section-info h1 {
    font-size: 28px;
  }
}

/* ------------ Projekti sekcija ------------ */

.services {
  background: #161616;
  background-image: url('../docs/bg2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.services .section-index {
  color: #006088 !important;
}

.services .section-heading {
  color: #006088 !important;
}

.timeline1 {
  margin: 30px 0;
}

.icon img {
  width: 60px;
}

.icon-title {
  font-size: 28px;
  margin-bottom: 4px;
  color: rgb(182, 182, 182);
  font-weight: lighter;
}

/* ------------- Clanstvo --------------- */

h1 span {
  color: #faa61a;
  font-weight: bold;
}

ul.datumi {
  margin: 20px 0 0 0;
  padding: 0;
  box-sizing: border-box;
}

ul.datumi li {
  position: relative;
  list-style: none;
  font-size: 34px;
  font-weight: 700;
  color: #faa61a;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0;
  display: inline-flex;
  transition: 0.5s;
}

ul.datumi li:hover {
  color: #fff;
}

ul.datumi li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #faa61a;
  z-index: -1;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

ul.datumi li:hover:before {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.5s;
}

ul.datumi li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #faa61a;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s;
}

ul.datumi li:hover:after {
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 0.5s;
}

/* ------------- FAQ ----------------- */

.question p {
  color: #006088;
  font-size: 30px;
  font-weight: bold;
}

/* ------------ Kontakt sekcija ------------ */

form input {
  color: #faa61a;
  font-size: 20px;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid #faa61a;
  width: 95%;
}

/* ------------ Footer ------------ */

.footer ion-icon {
  font-size: 30px;
  color: #006088;
  transition: 0.5s;
}

.footer ion-icon:hover {
  color: #7abedb;
  cursor: pointer;
}

.footer {
  background: #161616;
  background-image: url('../docs/bg2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#media,
#address,
#mail {
  text-align: center !important;
}

.footer .container {
  padding: 100px 0;
}

.footer li,
p,
h4 {
  font-size: 24px !important;
}

.footer h4 {
  font-weight: lighter;
  color: #fff;
}

.footer p {
  color: #006088;
  font-weight: bold;
}

.footer li {
  font-weight: lighter;
  color: #fff;
  padding-left: 20px;
  font-size: 18px !important;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media (max-width: 900px) {
  .footer .container {
    width: 92% !important;
  }
}
